@charset "UTF-8";
/* reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,fieldset,form,label,input,legend,table,caption,tbody,tfoot,thead,tr,th,
td,textarea,article,aside,audio,canvas,figure,footer,header,mark,menu,nav,section,time,video{margin:0;padding:0;}
html{min-width:1200px;}

html,body{
    height: 100%;
}

ul,ol,li{list-style:none;}


